/debian/php-ease-bootstrap/
/debian/.debhelper
.build/
.phpunit.result.cache
/vendor/
/nbproject/private/
/composer.lock
/debian/php-vitexsoftware-ease-bootstrap.debhelper.log
/debian/php-vitexsoftware-ease-bootstrap.substvars
/debian/php-vitexsoftware-ease-bootstrap/
