Source: php-vitexsoftware-ease-bootstrap
Build-Depends: debhelper (>= 7.0.50~)
Section: web
Standards-Version: 3.9.8
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Homepage: https://github.com/VitexSoftware/ease-twbootstrap

Package: php-vitexsoftware-ease-bootstrap
Depends: ${misc:Depends},php-vitexsoftware-ease-html
Architecture: all
Conflicts: ease-framework
Section: web
Priority: optional
Description: Set of Twitter Bootstrap 3 rendering objects
 TWB3 classes for Ease Framework.
